<div id="breadcrumbs">
  <%= link_to SimpleForum.main_application_name, main_app.root_path %>
  &gt;
  <%= 'Forum' %>
</div>

<% @categories.each do |c| %>
    <div class="category">
      <h3>
        <%= c.name %>
      </h3>
      <% if c.body.present? %>
          <div class="body">
            <%= c.body %>
          </div>
      <% end %>
    </div>

    <table class="forums forum-table">
      <tr>
        <th colspan="2">
          <%= t('.forums') %>
        </th>
        <th>
          <%= t('.topics') %>
        </th>
        <th>
          <%= t('.posts') %>
        </th>
        <th>
          <%= t('.last_post') %>
        </th>
      </tr>
      <% c.forums.each do |f| %>
          <tr>
            <td class="icon-cell">
              <% if f.recent_activity?(authenticated_user) %>
                  <%= image_tag('simple_forum/forumNewPosts.gif', :alt => t('simple_forum.new_posts_present', :default => 'New posts'), :title => t('simple_forum.new_posts_present', :default => 'New posts')) %>
              <% else %>
                  <%= image_tag('simple_forum/forumNoNewPosts.gif', :alt => t('simple_forum.new_posts_absent', :default => 'No new posts'), :title => t('simple_forum.new_posts_absent', :default => 'No new posts')) %>
              <% end %>
            </td>
            <td class="forum-cell">
              <span><%= link_to f.name, simple_forum.forum_path(f) %></span><br/>
              <span><%= f.body %></span><br/>
              <span>
                (
                <%= t('.moderated_by') %>:
                <%= f.moderators.map { |m| m.name }.join(', ').html_safe %>
                )
              </span>
            </td>
            <td class="topics-cell">
              <%= number_with_delimiter f.topics.size %>
            </td>
            <td class="posts-cell">
              <%= number_with_delimiter f.posts.size %>
            </td>
            <td class="last-post-cell">
              <% if f.recent_post %>
                  <%= content_tag :span, :title => l(f.recent_post.created_at) do %>
                      <%= link_to "#{time_ago_in_words(f.recent_post.created_at)} #{t('simple_forum.ago', :default => 'ago')}",
                                  simple_forum.forum_topic_path(f, f.recent_post.topic, :page => f.recent_post.topic.last_page, :anchor => "post-#{f.recent_post.id}")
                      %>
                  <% end %>
                  <br/>
                  <cite>
                    <%= t('simple_forum.by', :default => 'by') %>
                    <%= f.recent_post.user.name %>
                  </cite>
              <% end %>
            </td>
          </tr>
      <% end %>
    </table>
<% end %>