<h1>Forums:</h1>



<% @categories.each do |c| %>
    <div>
      <h4>
        <%= c.name %>
      </h4>
      <% if c.body.present? %>
          <div>
            <%= c.body %>
          </div>
      <% end %>
    </div>

    <table>
      <tr>
        <th colspan="2">
          <%= t('.forums') %>
        </th>
        <th>
          <%= t('.topics') %>
        </th>
        <th>
          <%= t('.posts') %>
        </th>
        <th>
          <%= t('.last_post') %>
        </th>
      </tr>
      <% c.forums.each do |f| %>
          <tr>
            <td>
              <% if f.recent_activity?(authenticated_user) %>
                  <%= image_tag('forumNewPosts.gif', :alt=>"New posts", :title=>"New posts") %>
              <% else %>
                  <%= image_tag('forumNoNewPosts.gif', :alt=>"No new posts", :title=>"No new posts") %>
              <% end %>
            </td>
            <td>
              <span><%= link_to f.name, simple_forum_forum_path(f) %></span><br/>
              <span><%= f.body %></span><br/>
              <span>
                (
                <%= t('.moderated_by') %>:
                <%= f.moderators.map { |m| m.login }.join(', ').html_safe %>
                )
              </span>
            </td>
            <td>
              <%= number_with_delimiter f.topics.size %>
            </td>
            <td>
              <%= number_with_delimiter f.posts.size %>
            </td>
            <td>
              <% if f.recent_post %>
                  <%= content_tag :span, :title => l(f.recent_post.created_at) do %>
                      <%= link_to "#{time_ago_in_words(f.recent_post.created_at)} #{t('simple_forum.ago', :default => 'ago')}",
                                  simple_forum_forum_topic_path(f, f.recent_post.topic, :page => f.recent_post.topic.last_page, :anchor => "post-#{f.recent_post.id}")
                      %>
                  <% end %>
                  <br/>
                  <cite>
                    <%= t('simple_forum.by', :default => 'by') %>
                    <%= f.recent_post.user.login %>
                  </cite>
              <% end %>
            </td>
          </tr>
      <% end %>
    </table>
<% end %>