<h1>Forum: <%= @forum.name %></h1>

<table>
  <tr>
    <th colspan="2">
      Forums
    </th>
    <th>
      Replies
    </th>
    <th>
      Views
    </th>
    <th>
      Last post
    </th>
  </tr>
  <% @topics.each do |t| %>
      <tr>
        <td>
          <% if t.recent_activity?(authenticated_user) %>
              <%= image_tag('forumNewPosts.gif', :alt=>"New posts", :title=>"New posts") %>
          <% else %>
              <%= image_tag('forumNoNewPosts.gif', :alt=>"No new posts", :title=>"No new posts") %>
          <% end %>
        </td>
        <td>
          <span><%= link_to t.title, simple_forum_forum_topic_path(@forum, t) %></span>
          <span>
            <% if t.user %>
              <%= t("simple_forum.by") %>
                <%= t.user.login %>
            <% end %>
          </span>
          <% if t.paged? %>
            <span>
              <ul>
                <% t.page_numbers.each do |p| %>
                    <% if p %>
                        <li><%= link_to p, simple_forum_forum_topic_path(@forum, t, :page => p) %></li>
                    <% else %>
                        <li class="gap">&hellip;</li>
                    <% end %>
                <% end %>
              </ul>
            </span>
          <% end %>
        </td>
        <td>
          <%= number_with_delimiter t.posts.size %>
        </td>
        <td>
          <%= number_with_delimiter t.views_count %>
        </td>
        <td>
          <% if t.recent_post %>
              <%= content_tag :span, :title => l(t.recent_post.created_at) do %>
                  <%= link_to "#{time_ago_in_words(t.recent_post.created_at)} #{t('simple_forum.ago', :default => 'ago')}",
                              simple_forum_forum_topic_path(@forum, t, :page => t.last_page, :anchor => "post-#{t.recent_post.id}")
                  %>
              <% end %>
              <br/>
              <cite>
                <%= t('simple_forum.by', :default => 'by') %>
                <%= t.recent_post.user.login %>
              </cite>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>

<%= will_paginate @topics if respond_to?(:will_paginate) %>

<p>
  <%= link_to "New topic", new_simple_forum_forum_topic_path(@forum) if @forum.is_topicable? && user_authenticated? %>
</p>
