<div id="breadcrumbs">
  <%= link_to SimpleForum.root_application_name, root_path %>
  &gt;
  <%= link_to 'Forum', simple_forum.root_path %>
  &gt;
  <%= @forum.name %>
</div>

<% content_for :left_sidebar do %>
    <ul>

      <% if @forum.is_topicable? && user_authenticated? %>
          <li>
            <%= link_to t(".new_topic"), simple_forum.new_forum_topic_path(@forum) %>
          </li>
      <% end %>
    </ul>
<% end %>

<table class="forum forum-table">
  <tr>
    <th colspan="2">
      <%= t('.topics') %>
    </th>
    <th>
      <%= t('.replies') %>
    </th>
    <th>
      <%= t('.views') %>
    </th>
    <th>
      <%= t('.last_post') %>
    </th>
  </tr>
  <% @topics.each do |t| %>
      <tr>
        <td class="icon-cell">
          <% if t.recent_activity?(authenticated_user) %>
              <%= image_tag('/simple_forum_engine/images/forumNewPosts.gif', :alt => t('simple_forum.new_posts_present'), :title => t('simple_forum.new_posts_present')) %>
          <% else %>
              <%= image_tag('/simple_forum_engine/images/forumNoNewPosts.gif', :alt => t('simple_forum.new_posts_absent'), :title => t('simple_forum.new_posts_absent')) %>
          <% end %>
        </td>
        <td class="topic-cell">
          <span><%= link_to t.title, simple_forum.forum_topic_path(@forum, t) %></span>
          <% if t.paged? %>
            <span>
              <ul>
                <% t.page_numbers.each do |p| %>
                    <% if p %>
                        <li><%= link_to p, simple_forum.forum_topic_path(@forum, t, :page => p) %></li>
                    <% else %>
                        <li class="gap">&hellip;</li>
                    <% end %>
                <% end %>
              </ul>
            </span>
          <% end %>
          <br/>
          <span>
            <% if t.user %>
              <%= t("simple_forum.by") %>
                <%= t.user.name %>
            <% end %>
          </span>

        </td>
        <td class="posts-cell">
          <%= number_with_delimiter t.posts.size %>
        </td>
        <td class="topics-cell views-cell">
          <%= number_with_delimiter t.views_count %>
        </td>
        <td class="last-post-cell">
          <% if t.recent_post %>
              <%= content_tag :span, :title => l(t.recent_post.created_at) do %>
                  <%= link_to "#{time_ago_in_words(t.recent_post.created_at)} #{t('simple_forum.ago', :default => 'ago')}",
                              simple_forum.forum_topic_path(@forum, t, :page => t.last_page, :anchor => "post-#{t.recent_post.id}")
                  %>
              <% end %>
              <br/>
              <cite>
                <%= t('simple_forum.by', :default => 'by') %>
                <%= t.recent_post.user.name %>
              </cite>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>

<%= will_paginate @topics if respond_to?(:will_paginate) %>