<% content_for :stylesheets, stylesheet_link_tag('simple_forum/markitup') %>
<% content_for :javascripts, javascript_include_tag("simple_forum/markitup") %>

<% content_for :head do %>
    <script type="text/javascript">
        var post_preview_path = "<%= simple_forum.preview_forum_topic_posts_path(@forum, @topic) %>";
    </script>
<% end %>

<div id="breadcrumbs">
  <%= link_to SimpleForum.main_application_name, main_app.root_path %>
  &gt;
  <%= link_to 'Forum', simple_forum.root_path %>
  &gt;
  <%= link_to @forum.name, simple_forum.forum_path(@forum) %>
  &gt;
  <%= link_to @topic.title, simple_forum.forum_topic_path(@forum, @topic) %>
  &gt;
  <%= t('.post_edit') %>
</div>

<table class="topic-table forum-table" cellpadding="6" cellspacing="6">

</table>

<%= form_for @post, :url => simple_forum.forum_topic_post_path(@forum, @topic, @post), :as => :post, :html => {:id => 'new_post_form'} do |f| -%>
    <p>
      <%= f.label :body %>
      <%= f.text_area :body, :class => 'markitup post-body' %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>
