<div id="breadcrumbs">
  <%= link_to SimpleForum.main_application_name, main_app.root_path %>
  &gt;
  <%= link_to 'Forum', simple_forum.root_path %>
  &gt;
  <%= link_to @forum.name, simple_forum.forum_path(@forum) %>
  &gt;
  <%= t('.new_topic') %>
</div>

<%= form_for @topic, :as => :topic, :url => simple_forum.forum_topics_path(@forum) do |f| %>
    <p>
      <%= f.label :title %><br/>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :body %><br/>
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>
