<div id="breadcrumbs">
  <%= link_to SimpleForum.root_application_name, root_path %>
  &gt;
  <%= link_to 'Forum', simple_forum_root_path %>
  &gt;
  <%= link_to @forum.name, simple_forum_forum_path(@forum) %>
  &gt;
  <%= @topic.title %>
</div>

<% content_for :left_sidebar do %>
    <ul>
      <% if user_authenticated? && @forum.is_moderator?(authenticated_user) %>
          <li>
            <% if @topic.is_open? %>
                <%= link_to t('.close_topic'), close_simple_forum_forum_topic_path(@forum, @topic), :method => :post, :confirm => t('simple_forum.are_you_sure') %>
            <% else %>
                <%= link_to t('.open_topic'), open_simple_forum_forum_topic_path(@forum, @topic), :method => :post, :confirm => t('simple_forum.are_you_sure') %>
            <% end %>
          </li>
      <% end %>
    </ul>
<% end %>

<table class="topic-table forum-table" cellpadding="6" cellspacing="6">
  <% for post in @posts do -%>
      <%= render :partial => 'post', :locals => {:post => post} %>
  <% end %>
</table>

<%= will_paginate @posts if respond_to?(:will_paginate) %>

<% if @topic.is_open? %>
    <% if user_authenticated? %>
        <%= form_for @post, :url => simple_forum_forum_topic_posts_path(@forum, @topic), :as => :post, :html => {:id => 'new_post_form'} do |f| -%>
            <p>
              <%= f.label :body %>
              <%= f.text_area :body %>
            </p>

            <p>
              <%= f.submit %>
            </p>

            <p>
              <%= link_to t('.preview'), '#', :id => 'preview_post' %>
            </p>
        <% end %>


        <script type="text/javascript">
            $(function() {
                $('#preview_post').click(function() {
                    $.ajax({
                        type          : "GET",
                        url           : "<%= preview_simple_forum_forum_topic_posts_path(@forum, @topic) %>",
                        data          : $('#new_post_form').serializeArray(),
                        success: function(data) {
                            $('table.topic-table').append(data);
                        }
                    });
                    return false;
                });
            });
        </script>
    <% else %>
        <%= t('.you_have_to_be_signed_in_to_create_post') %>
    <% end %>
<% else %>
    <p>
      <%= t('.topic_is_closed') %>
    </p>
<% end %>
