<%= content_for :stylesheets do %>
    <%= stylesheet_link_tag "/simple_forum_engine/markitup/skins/markitup/style",
                            "/simple_forum_engine/markitup/sets/bbcode/style" %>
<% end %>
<%= content_for :javascripts do %>
    <%= javascript_include_tag "/simple_forum_engine/markitup/jquery.markitup.js",
                               "/simple_forum_engine/markitup/sets/bbcode/set.js",
                               "/simple_forum_engine/javascripts/markitup.js" %>
<% end %>
<% content_for :head do %>
    <script type="text/javascript">
        var post_preview_path = "<%= preview_simple_forum_forum_topic_posts_path(@forum, @topic) %>";
    </script>
<% end %>


<div id="breadcrumbs">
  <%= link_to SimpleForum.root_application_name, root_path %>
  &gt;
  <%= link_to 'Forum', simple_forum_root_path %>
  &gt;
  <%= link_to @forum.name, simple_forum_forum_path(@forum) %>
  &gt;
  <%= @topic.title %>
</div>

<% content_for :left_sidebar do %>
    <ul>
      <% if user_authenticated? && @forum.is_moderator?(authenticated_user) %>
          <li>
            <% if @topic.is_open? %>
                <%= link_to t('.close_topic'), close_simple_forum_forum_topic_path(@forum, @topic), :method => :post, :confirm => t('simple_forum.are_you_sure') %>
            <% else %>
                <%= link_to t('.open_topic'), open_simple_forum_forum_topic_path(@forum, @topic), :method => :post, :confirm => t('simple_forum.are_you_sure') %>
            <% end %>
          </li>
      <% end %>
    </ul>
<% end %>

<table class="topic-table forum-table" cellpadding="6" cellspacing="6">
  <% for post in @posts do -%>
      <%= render :partial => 'post', :locals => {:post => post} %>
  <% end %>
</table>

<%= will_paginate @posts if respond_to?(:will_paginate) %>

<% if @topic.is_open? %>
    <% if user_authenticated? %>
        <%= form_for @post, :url => simple_forum_forum_topic_posts_path(@forum, @topic), :as => :post, :html => {:id => 'new_post_form'} do |f| -%>
            <p>
              <%= f.label :body %>
              <%= f.text_area :body, :class => 'markitup post-body' %>
            </p>

            <p>
              <%= f.submit %>
            </p>
        <% end %>
    <% else %>
        <%= t('.you_have_to_be_signed_in_to_create_post') %>
    <% end %>
<% else %>
    <p>
      <%= t('.topic_is_closed') %>
    </p>
<% end %>
