<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="UTF-8">
  <title><%= yield(:title) || '' %></title>
  <%= javascript_include_tag('https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js') %>
  <%= javascript_include_tag('rails') %>
  <%= csrf_meta_tag %>
</head>
<body>

<!-- Open Container -->
<div class="container">
  <% if flash.present? %>
      <div id="flash_messages">
        <% flash.each do |key, val| %>
            <%= content_tag :div, val, :class => key %>
        <% end %>
      </div>
  <% end %>

  <!-- Main Content -->
  <%= yield %>
  <!-- / end Main Content -->

</div>
<!-- / close container -->

</body>
</html>
