<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title><%= yield(:title) || '' %></title>
  <%= favicon_link_tag %>

  <%= stylesheet_link_tag('simple_forum') %>

  <%= javascript_include_tag('https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js') %>
  <%= javascript_include_tag('rails') %>

  <%= csrf_meta_tag %>
</head>
<body>

<p class="logo">
  <%= link_to image_tag('http://galdomedia.pl/images/logo.gif', :alt => 'Galdomedia'), "http://galdomedia.pl", :title => "Galdomedia" %>
</p>

<% if flash.present? %>
    <div id="flash_messages">
      <% flash.each do |key, val| %>
          <%= content_tag :div, val, :class => key %>
      <% end %>
    </div>
<% end %>

<h1>Simple Forum</h1>

<div id="left">
  <%= yield(:left_sidebar) %>
</div>

<div id="right">

</div>

<div id="content">
  <%= yield %>
</div>

</body>
</html>
